.wy-side-nav-search {
    color: black;
    padding-top: 5em;
    background-image: url("/plantuml-settings/_static/images/plantuml-logo.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 5em auto;
    background-color: yellow;
  }