.wy-side-nav-search {
    padding-top: 5em;
    background-image: url("/_static/images/plantuml-logo.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 10em auto;
    background-color: green;
  }