.wy-side-nav-search {
    padding-top: 170px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/30/Plantuml_Logo.svg");
    background-position: top;
    background-repeat: no-repeat;
  }