.wy-side-nav-search {
  padding-top: 5em;
  background-image: url("/../_static/images/plantuml-logo.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 5em auto;
  background-color: yellow;
}

.wy-side-nav-search .wy-dropdown > a,
.wy-side-nav-search > a .version {
  color: red;
}

.wy-nav-top {
  background-color: red;
}

.rst-content div[class^="highlight"] pre {
  white-space: pre-wrap;
}
